<!DOCTYPE html>

<head>

</head>

<body>
    <center>
        <form method="post" action="/">
            <input type="text" id="greeting" name="greeting" value="Happy Birthday">
            <br>
            <input type="text" id="name" name="name" value="Name">
            <br>
            <input type="radio" name="color" value="Blue" checked>Blue</input>
            <input type="radio" name="color" value="Red">Red</input>
            <input type="radio" name="color" value="Yellow">Yellow</input>
            <input type="radio" name="color" value="Orange">Orange</input>
            <br>
            <br>
            <input type="submit" value="Create Page" name="Create Page" />
        </form>
    </center>
</body>